# PostHog Analytics (optional)
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=https://app.posthog.com

# Plausible Analytics (optional)
NEXT_PUBLIC_PLAUSIBLE_DOMAIN=


FORGE_API_URL=https://forge.visiontillion.com